body {

}
main {
    padding: 25px 90px;
}
a {
    color: hsla(72, 27%, 50%, 1);
    font-size: 22px;
}
.banner {
    max-width: 100%;
}

.sub-nav {
    padding: 0 60px;
    max-width: 500px;
}
.xslideshow img {
    > .active {
    }
    > .thumbnail {
        max-width: 200px;
    }
}
