body {

}
main {
    padding: 25px 90px;
}
a {
    color: hsla(72, 27%, 50%, 1);
    font-size: 22px;
}
.banner {
    max-width: 100%;
}

.sub-nav {
    padding: 0 60px;
    max-width: 500px;
}
.images > div {
    padding: 0 50px;
}
.new-account {
    padding: 0 600px;
}
.order-instructions {
    padding: 0 100px;
}
.pointer {
    color: hsla(72, 27%, 50%, 1);
    &:hover {
        color: lighten(hsla(72, 27%, 50%, 1), 10%);
    }
}
