body {
}
main {
    padding: 25px 90px;
}
.banner {
    max-width: 100%;
}

.sub-nav {
    padding: 0 60px;
    max-width: 500px;
}
.xslideshow img {
    > .active {
    }
    > .thumbnail {
        max-width: 200px;
    }
}
