<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LLPS</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="css/picnic.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <img class="banner" src="assets/littlelilybanner.jpg" alt="banner"/ width="">
        </header>
        <main class="flex two">
            <section class="sub-nav">
                <span>
                    Each crepe paper flower is carefully handcrafted to capture the beauty of real flowers and the lovely feeling we have admiring them.
                </span>
                <p>
                    The flowers in my shop are made with high quality German and Italian crepe paper as well as mixed media to produce blooms that keep on blooming! Need matching decorations? Check out some of the other paper décor in the shop! Brighten special occasions such as baby showers, bridal showers, weddings, and anniversaries.
                </p>
                    Cheer someone up or offer a bit of congratulations for those memorable moments.
                    Whatever the occasion, I hope these crepe paper flowers and decorations will be a cheerful addition to your special day.
            </section>
            <section class="slideshow tabs four">
                <input id="tabC-0" type='radio' name='tabGroupC' checked >
                <input id="tabC-1" type='radio' name='tabGroupC'>
                <input id="tabC-2" type='radio' name='tabGroupC'>
                <input id="tabC-3" type='radio' name='tabGroupC'>
                <article class='row'>
                    <div v-for="image in images">
                        <img class="slideshow-active" :src="image">
                    </div>
                </article>
                <label class="thumbnail" v-for="(image, index) in images" :for="'tabC-' + index"><img :src="image"></label>
            </section>
        </main>
        <footer>
                
        </footer>
    </div>
    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            components: {
            },
            data: {
                images: [
                ],
            },
            filters: {
            },
            mounted() {
                axios.get('/slideshow')
                .then(response => this.images = response.data)
            },
            computed: {
            },
            methods: {
            },
        })
    </script>
</body>
</html>
